@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
  display: none;
}

*{
  transition: all 0.3s ease;
}

body{
  background-color: rgb(60, 59, 59);
  user-select: none;
}

.object-container{
  padding-left: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 60px;
  width: 600px;
  font-size: 1.2em;
  color: white;
  font-family: Poppins;
  font-weight: 300;
  border-radius: 6px;
}

.object-container:hover{
  background-color: rgba(255, 255, 255, 0.093);
}

.active , .active:hover{
  background-color: rgba(255, 255, 255, 0.207);
}

.object-items{
  margin-left: 10px;
}

.button-container{
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(128, 128, 128, 0.248);
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
}

.button-container:hover{
  background-color: rgba(255, 255, 255, 0.207);
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: solid white 3px;
  background-color: rgb(32, 31, 31);
  color: white;
  cursor: pointer;
}

.object-container input{
  margin-left: 6px;
  height: 30px;
  width: 300px;
  font-family: Poppins;
  background-color: rgba(0, 0, 0, 0.301);
  color: white;
  font-size: 0.9em;
  font-weight: 400;
  padding-left: 5px;
  border-radius: 0%;
}

.file-explorer-container{
  height: auto;
  width: auto;
}